* {
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(135deg, #667eea, #764ba2);
  --button-hover: #5563c1;
  --card: white;
  --heading: white;
  --text: #222;
  --button: #667eea;
  --input: white;
  --border: #ddd;
  --danger: #f76e7a;
--danger-hover: #f23838;
}

body.dark {
  --background: linear-gradient(135deg, #1f1c2c, #3a1c71);
  --button-hover: #8b5cc7;
  --card: #242424;
  --heading: white;
  --text: white;
  --button: #764ba2;
  --input: #333;
  --border: #555;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
  margin: 0;
  padding: 40px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

#themeBtn {
  justify-self: center;
  align-self: center;
}

.container {
  max-width: 700px;
  margin: auto;
  background: var(--card);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: var(--heading);
  font-size: 40px;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid var(--border);
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

textarea,
input {
  background: var(--input);
  color: var(--text);
}

textarea:focus {
  border-color: #667eea;
}

button {
  background: var(--button);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 15px;
  transition: 0.3s;
}

button:hover {
  background: var(--button-hover);
  transform: translateY(-2px);
}

#counter {
  text-align: right;
  color: gray;
}

#search {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid var(--border);
  font-size: 16px;
}

ul {
  padding: 0;
}

li {
  background: var(--card);
  margin-top: 15px;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-left: 5px solid #667eea;
}

li button {
  background: var(--danger);
  margin: 0;
}

body.dark button {
  background: #764ba2;
  color: white;
}

li button:hover {
  background: var(--danger-hover);
}
